<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo登録</title>
</head>
<body>
<section class="section">
    <div class="container">
        <h2 class="title is-2">TODO登録</h2>
        <form action="#" th:action="@{/todo}" th:method="POST" th:object="${todoForm}">
            <div class="field">
                <label class="label">タイトル</label>
                <div class="control">
                    <input class="input" th:field="*{title}" required type="text">
                </div>
            </div>
            <div class="field">
                <label class="label">内容</label>
                <div class="control">
                    <input class="input" th:field="*{content}" required type="text">
                </div>
            </div>

            <div class="field">
                <label class="label">タグ</label>
                <div class="control">
                    <div class="select">
                        <select th:field="*{todoTag}" required>
                            <option value="">選択してください</option>
                            <option th:each="tag : ${tag}" th:text="${tag.tag}" th:value="${tag.tag}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">登録</button>
                </div>
            </div>

        </form>
    </div>
</section>

</body>
</html>